@import "../../../../../../btn-bravo-canano.scss";

table{
    border: solid #e5e5e5 2px;
    background-color: #fff;
    width: 75%;
}
td{
    width: 50%;
}

.test-btn-span{
    float: right;
}

.composing-element-div{
    border: solid #aaaaab 1px;
}
