@import "../../../../main-display/main-display.component.scss";

.mainBorder {
    margin-bottom:15px;
}

.mainBorder.last {
    margin-bottom:0px;
}

.header {
    text-transform: capitalize;
}
.nav-item {
    text-transform: capitalize;
    margin-bottom:0px !important;
    padding-bottom:0px !important;

}

.nav.nav-tabs {
    font-size:12px;
    margin-left:-6px;
    border-bottom:none !important;
    padding-top:15px !important;
}
.mainSection {
    margin-top:0px;
}
a.nav-link {
    text-transform: capitalize;
    text-decoration: none !important;
}
a.nav-link.active {
    border-color: #000 #000 $canano-green !important;
    text-decoration: none !important;
    color:#fff !important;
    background-color:$canano-green !important;
}
