<div class="left-menu-div">

    <div class="left-menu-top-heading p-2">
        {{topHeading}}
    </div>

    <div class="left-menu-heading p-2">
        NCI
    </div>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://wiki.nci.nih.gov/display/caNanoLab', '')"
    >caNanoLab Wiki
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://wiki.nci.nih.gov/display/icr/isa-tab-nano', '')"
    >ISA-TAB-Nano Wiki
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://cbiit.nci.nih.gov/', '')"
    >NCI CBIIT Home
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://nanolab.cancer.gov/', '')"
    >NCL Home
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('http://nano.cancer.gov', '')"
    >NCI Nano Alliance Home
    </button>


    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://www.cancer.gov', '')"
    >NCI Home
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://nciphub.org/groups/cananolabcuration', '')"
    >NCIP HUB
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://wiki.nci.nih.gov/display/ICR/Nanotechnology+Working+Group', '')"
    >Nanotechnology Working Group
    </button>

    <div class="left-menu-heading p-2">
        External <a href="#" style="text-decoration: underline; color:#fff;">Disclaimer</a>
    </div>


    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('http://oregonstate.edu/nbi/', '')"
    >NBI
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('http://nanoparticlelibrary.net/index.asp', '')"
    >NIOSH NIL
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('http://www.nanohub.org/home', '')"
    >nanoHUB
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('http://www.safenano.org', '')"
    >SAFENANO
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://www.oecd.org/sti/nano/', '')"
    >OECD
    </button>

    <button class="btn-canano-sm left-menu-button-blue" type="button"
            (click)="openWindow('https://enanomapper.net/', '')"
    >eNanoMapper
    </button>
</div>
