<div class="modal-header">
    <h4 class="modal-title">Session Timeout Notification</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>For your protection you are about to be automatically logged out of caNanoLab. Your session will expire in
        {{time_remaining}} at {{expire_time}} if you remain inactive.</p>
    <p>If you would like to keep your session active, move your mouse or dismiss this dialog using the 'X' or 'OK' buttons.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()" title="Resume session and close this dialog">OK</button>
</div>

