## Ignore target, build, C: directories ##

.DS_Store
**/.DS_Store
.classpath
.project
indexDir/*

## Ignore node modules ##

node_modules/

app.yaml

\.settings/

.idea/

.env

vpproject/

software/cananolab-webapp/build.properties

software/common/lib/globus/
software/common/lib/sdk/
software/common/lib/caNanoLab-beans\.jar
software/cananolab-webapp/ijbuild/

localDev/jars/

software/cananolab-webapp/.settings/*
software/cananolab-webapp/build/
software/cananolab-webapp/target/
software/cananolab-webapp/local_build/
software/cananolab-webapp/lib/
software/cananolab-client-new/build/
software/cananolab-webapp/lib/caNanoLab-beans\.jar

*.iml
