@import "../../../../main-display/main-display.component.scss";
@import '../../../../cananolab-client.component.scss';

    .mainSection td {
        padding-bottom:13px !important;
        font-size:$mainFontSize;

    }

    .mainSection .editButton{
        padding-top:5px;
        text-align:right;
    }
    .mainSection table.files{
        width:100%;
    }

    .mainSection table.files th{
        width:200px;
    }
    // .mainSection table.dataMain td{
    //     vertical-align:top;
    //     width:200px;
    // }

    .dataMain {
        width:fit-content !important;
    }



    .mainSection table.dataMain td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    .mainSection table.files td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    .element {
        padding-top:10px;
    }


    .dataMain.submit {
        width:100% !important;
    }
    .dataMain.submit td {
        text-align:right;
    }

    .error {
        color:red;
        margin:5px;
    }
