

<div class="spacer">
    <table border="0" class="contentTitle" summary="layout" width="100%">
        <tr>
            <th align="left" scope="col">Sample {{sampleName.name}} Synthesis</th>
            <td align="right" width="30%">
                <a ng-disabled="loader" class="helpText" ng-click="print()" href="" target="_blank">Print</a>   
                <a ng-disabled="loader" class="helpText" ng-href="/caNanoLab/rest/composition/summaryExport?sampleId={{sampleId.data}}&type=all">Export</a>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Composition+Annotations#ManagingSampleCompositionAnnotations-Composition')">Help</a>
                <a class="helpText" href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            </td>
        </tr>
    </table>
    <tabset justified="true">
        <tab heading="All" ng-click="select(-1)"></tab>
        <tab heading="Materials" ng-click="select(0)"></tab>
        <tab heading="Functionalization" ng-click="select(1)"></tab>
        <tab heading="Purification" ng-click="select(2)"></tab>
    </tabset>
    <table ng-hide="show0" class="summaryViewNoTop" width="100%" summary="layout">
        <tr>
            <td>
                <table width="100%" align="center" class="summaryViewNoGrid dataTable">
                    <tbody>
                        <tr>
                            <th class="heading">
                                Materials
                            </th>
                        </tr>
                        <tr ng-repeat="m in materials">
                            <td>
                                <table summary="layout" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="characterization">
                                                {{m.Description}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="table">
                                                    <div class="left">
                                                        Something
                                                    </div>
                                                    <div class="right">
                                                        Something Value
                                                    </div>
                                                </div>                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <table ng-hide="show1" class="summaryViewNoTop" width="100%" summary="layout">
        <tr>
            <td>
                <table width="100%" align="center" class="summaryViewNoGrid dataTable">
                    <tbody>
                        <tr>
                            <th class="heading">
                                Functionalizations
                            </th>
                        </tr>
                        <tr>
                            <td>{{functionalizations}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <table ng-hide="show2" class="summaryViewNoTop" width="100%" summary="layout">
        <tr>
            <td>
                <table width="100%" align="center" class="summaryViewNoGrid dataTable">
                    <tbody>
                        <tr>
                            <th class="heading">
                                Purifications
                            </th>
                        </tr>
                        <tr>
                            <td>{{purifications}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</div>

<div id="loader" class="sample" ng-show="loader">
    <div id="loaderText">Loading</div>
    <div id="loaderGraphic"></div>
</div>