<table width="100%" align="center" class="submissionView" summary="layout">
    <tbody>
    <tr>
        <th colspan="4">
            Synthesis Properties
        </th>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="synthesisSupplier">Supplier*</label>
        </td>
        <td colspan="2">
            <div id="synthesisSupplier">
                <input type="text" id="supplier" ng-model="funcEntityForm.domainEntity.supplierName" size="90" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="cellLabel">
            <label for="supplierLot">Lot</label>
        </td>
        <td colspan="2">
            <textarea ng-model="funcEntityForm.domainEntity.lot" id="supplierLot" cols="80" rows="3"></textarea>
        </td>
    </tr>
    </tbody>
</table>