<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameSearchSample" [otherUrl]="{title:'Advanced Search',link:'home/samples/sample-advanced-search'}"
>
</canano-main-display-heading>
<div class="mainSection">
    <div class="error" *ngIf="errors['error']">
        {{errors['error']}}
    </div>
    <canano-loader [loading]="loading" [message]="loadingMessage"></canano-loader>
    <form name="sampleSearchForm">
        <div class="mainBorder">
            <table class="searchForm">
                <tr>
                    <td class="label">
                        <label for="keywords">
                            Keywords
                        </label>
                    </td>
                    <td colspan="5">
                        <textarea name="keywords" id="keywords" [(ngModel)]="data.text" rows="3" cols="60">

                        </textarea><br />
                        <i>
                            searching characterization keywords, publication keywords and text in characterization descriptions enter one keyword per line
                        </i>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="sampleName">
                            Sample Name
                        </label>
                    </td>
                    <td colspan="5">
                        <label for="nameOperand">
                            <select name="nameOperand" [(ngModel)]="data.nameOperand">
                                <option [selected]="true">contains</option>
                                <option>equals</option>
                            </select>
                        </label>
                        <input type="text" id="sampleName" name="data.sampleName" [(ngModel)]="data.sampleName" size="60">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="samplePointOfContact">
                            Sample Point of Contact
                        </label>
                    </td>
                    <td colspan="5">
                        <label for="pocOperand">
                            <select name="pocOperand" [(ngModel)]="data.pocOperand">
                                <option [selected]="true">contains</option>
                                <option>equals</option>
                            </select>
                        </label>
                        <input type="text" name="data.samplePointOfContact" id="samplePointOfContact" [(ngModel)]="data.samplePointOfContact" size="60">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="nanomaterialEntityTypes">
                            Nanomaterial Entity
                        </label>
                    </td>
                    <td>
                        <select [size]="7" class="multiple" multiple name="data.nanomaterialEntityTypes" id="nanomaterialEntityTypes" [(ngModel)]="data.nanomaterialEntityTypes">
                            <option *ngFor="let samp of sampleSetupData['nanomaterialEntityTypes']">
                                {{samp}}
                            </option>
                        </select>
                    </td>
                    <td class="label">
                        <label for="functionalizingEntityTypes">
                            Functionalizing Entity Types
                        </label>
                    </td>
                    <td>
                        <select [size]="7" class="multiple" multiple name="data.functionalizingEntityTypes" id="functionalizingEntityTypes" [(ngModel)]="data.functionalizingEntityTypes">
                            <option *ngFor="let samp of sampleSetupData['functionalizingEntityTypes']">
                                {{samp}}
                            </option>
                        </select>
                    </td>
                    <td class="label">
                        <label for="functionTypes">
                            Function Types
                        </label>
                    </td>
                    <td>
                        <select [size]="7" class="multiple" multiple name="data.functionTypes" id="functionTypes" [(ngModel)]="data.functionTypes">
                            <option *ngFor="let samp of sampleSetupData['functionTypes']">
                                {{samp}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="characterizationType">
                            Characterization Type
                        </label>
                    </td>
                    <td>
                        <select (ngModelChange)="onCharacterizationType($event)" name="characterizationType" [(ngModel)]="data.characterizationType" id="characterizationType">
                            <option [selected]="true" [ngValue]="''">--Select--</option>
                            <option *ngFor="let charType of sampleSetupData['characterizationTypes']">
                                {{charType}}
                            </option>
                        </select>
                    </td>
                    <td class="label">
                        <ng-container *ngIf="data.characterizationType!=''">
                            <label for="characterizations">
                                Characterization
                            </label>
                        </ng-container>
                    </td>
                    <td colspan="3">
                        <ng-container *ngIf="data.characterizationType!=''">
                            <select [size]="7" class="multiple" multiple name="data.characterizations" id="characterizations" [(ngModel)]="data.characterizations">
                                <option *ngFor="let samp of characterizationsList">
                                    {{samp}}
                                </option>
                            </select>
                        </ng-container>
                    </td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <div>
                Searching without any parameters returns all samples.
            </div>
            <button [disabled]="loading" (click)="reset()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
            <button [disabled]="loading" (click)="onSubmit()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Search</button>

        </div>
    </form>
</div>
