<!----------------------------------------------------------------------------------------->
<!----------------------            "cananolab-client"             ------------------------>
<!-----------           The top level UI component                                   ------>
<!-----------               Header                                                   ------>
<!-----------               Main Top Menu                                            ------>
<!-----------               Navigation Menu                                          ------>
<!-----------               Static Left side Menu                                    ------>
<!----------------------------------------------------------------------------------------->

<!-- -----  The top header with the "Keyword Search" box on the right ----- -->
<canano-header></canano-header>

<!-- -----  The Top Main Menu  ----- -->
<canano-top-main-menu></canano-top-main-menu>

<!-- -----  The left side Navigation menu & left static menu  ----- -->
<div>
    <div class="parent-div">
        <div>
            <canano-left-navigation-menu>
            </canano-left-navigation-menu>

            <canano-left-static-menu>
            </canano-left-static-menu>
        </div>

        <!-- -----  The Main Display where all the dynamic stuff heppens  ----- -->
        <canano-main-display style="width: 100%;"></canano-main-display>
    </div>
</div>
