

<div class="spacer">
    <!-- Current Material - {{material}}<br /><br />
    Current Material Element - {{materialElement}}<br /><br />
    Current Inherent function - {{inherentFunction}}<br /><br />
    Current File - {{file}}<br /> -->
    <form novalidate="" class="ng-pristine ng-valid">
        <table class="contentTitle" width="100%" border="0" summary="layout">
            <tbody>
                <tr>
                    <!-- ngIf: nanoEntityId!=null && nanoEntityId!='' -->
                    <td scope="col" align="left"
                        class="ng-scope">
                        <h1 class="ng-binding"> Synthesis Sample sample Synthesis - Material 1
                        </h1>
                    </td><!-- end ngIf: nanoEntityId!=null && nanoEntityId!='' -->

                    <!-- ngIf: nanoEntityId==null -->

                    <td align="right" width="30%">
                        <a class="helpText"
                            href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Composition+Annotations#ManagingSampleCompositionAnnotations-NanomaterialAddingNanomaterialEntityCompositionAnnotations')">Help</a>
                        &nbsp;
                        <a class="helpText"
                            href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <span style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:red;align-content: center;">
            <ul>
                <!-- ngRepeat: message in messages -->
            </ul>
        </span>
        <table width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <tr>
                    <td class="cellLabel" width="100">
                        <label for="type">Protocol</label>
                    </td>
                    <td>
                        <div id="categoryPrompt">
                            <select ng-model="material.simpleProtocol" ng-options="o as o.displayName for o in dropdowns.protocolLookup track by o.domainId">
                            </select>
                            <!-- <input type="text" size="50" value="{{material.simpleProtocol.displayName}}" data-ng-model="material.simpleProtocol.displayName"> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cellLabel">
                        <label for="neDescription">Description</label>
                    </td>
                    <td>
                        <textarea cols="100" rows="3" id="neDescription" data-ng-model="material.description"
                            class="ng-pristine ng-valid">{{material.description}}</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
            <table width="100%" align="center" class="submissionView ng-scope">
                <tbody>
                    <tr>
                        <td class="cellLabel" width="15%">
                            Materials
                        </td>
                        <td>
                            <!-- <a style="display: block;" id="addFile" href="javascript:clearFile('nanomaterialEntity'); openSubmissionForm('File');"><img align="top" src="images/btn_add.gif" border="0" alt="add a nanomaterial entity file"></a> -->
                            <button type="button" ng-click="openMaterialEditForm({},-1, 0)" class="btn btn-primary btn-xs" id="addFile">Add</button>
                        </td>
                    </tr>
                    <tr ng-show="material.materialElements.length">
                        <td colspan="2">
                            <table class="editTableWithGrid" align="center" width="95%">
                                <tbody>
                                    <tr ng-repeat="me in material.materialElements">
                                        <td width="10%"><label>Material Type</label></td>
                                        <td width="80%">{{me.type}}</td>
                                        <td width="10%">
                                            <button type="button" class="btn btn-primary btn-xs ng-click-active" ng-click="openMaterialEditForm(me, $index, 1)">Edit</button>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr ng-show="materialElementFormIndex!=null">
                        <td colspan="2">
                            <table class="editForm" align="center" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <!-- add index here and add index to show form. only show current index form. close all first -->
                                        <td colspan="3">
                                            <table class="editTableWithGrid form" align="center" width="95.5%">
                                                <tr>
                                                    <td width="10%">
                                                        <label>Material Type*</label>
                                                    </td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.type" ng-options="o as o for o in dropdowns.materialTypes">
                                                        </select>
                                                    </td>
                                                    <td width="10%">
                                                        <label>Chemical Name*</label>
                                                    </td> 
                                                    <td width="40%">
                                                        <input type="text" size="35" value="{{materialElement.chemicalName}}" data-ng-model="materialElement.chemicalName">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%">
                                                        <label>PubChem Data Source</label>
                                                    </td>
                                                    <td width="90%" colspan="3">
                                                        <select ng-model="materialElement.pubChemDataSource" ng-options="o as o for o in dropdowns.pubChemDataSources">
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Amount</label></td>
                                                    <td width="40%">
                                                        <input type="text" value="12" data-ng-model="materialElement.value">
                                                    </td>
                                                    <td width="10%"><label>Amount Unit</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.valueUnit" ng-options="o as o for o in dropdowns.amountUnits">
                                                            <option>mg</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Molecular Formula Type</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.molecularFormulaType" ng-options="o as o for o in dropdowns.formulaTypes">
                                                            <option>Hill</option>
                                                        </select>
                                                    </td>
                                                    <td width="10%"><label>Molecular Formula</label></td>
                                                    <td width="40%">
                                                        <input type="text" value="{{materialElement.molecularFormula}}" data-ng-model="materialElement.molecularFormula">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Supplier Name</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.supplierMap.SupplierName" ng-options="o as o for o in dropdowns.supplierNames">
                                                        </select>
                                                    </td>
                                                    <td width="10%"><label>Lot</label></td>
                                                    <td width="40%">
                                                        <input type="text" value="{{materialElement.supplierMap.Lot}}" data-ng-model="materialElement.supplierMap.Lot">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Material Description</label></td>
                                                    <td width="90%" colspan="3">
                                                        <textarea rows="5" cols="70" data-ng-model="materialElement.description">
                                                            {{materialElement.description}}
                                                        </textarea>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td width="10%"><label>Inherent Functions</label></td>
                                                    <td width="90%" colspan="3"><button type="button" class="btn btn-primary btn-xs ng-click-active" ng-click="openInherentFunctionForm(-1, $parent.$index)">Add</button></td>
                                                </tr>
                                                <tr>
                                                    <td width="90%" colspan="4">{{$parent.$index}}
                                                        <div class="inherentFunctions" ng-repeat="i in materialElement.inherentFunctionList">
                                                            <table class="editTableWithGrid" align="center" width="95%">
                                                                <tr>
                                                                    <td width="15%"><label>Type</label></td>
                                                                    <td width="75%">
                                                                        {{i.type}}
                                                                    </td>
                                                                    <td width="10%"><button type="button" class="btn btn-primary btn-xs ng-click-active" ng-click="openInherentFunctionForm($index, $parent.$index, i)">Edit</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15%"><label>Description</label></td>
                                                                    <td width="85%" colspan="2">{{i.description}}</td>
                                                                </tr>
                                                            </table><br />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-show="inherentFunctionFormIndex!=null">
                                                    <td colspan="4">
                                                        <table class="editTableWithGrid" align="center" width="95%">
                                                            <tr>
                                                                <td width="15%"><label>Type</label></td>
                                                                <td width="85%">
                                                                    <select ng-model="inherentFunction.type"
                                                                        ng-options="o as o for o in dropdowns.inherentFunctionTypes">
                                                
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="15%"><label>Description</label></td>
                                                                <td width="85%">
                                                                    <textarea rows="5" cols="70" data-ng-model="inherentFunction.description">
                                                                                                                                        {{inherentFunction.description}}
                                                                                                                                    </textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" class="saveSynthesis">
                                                                    <button class="btn btn-default btn-xs"
                                                                        ng-click="cancelInherentFunction($index,inherentFunction)">Cancel</button>
                                                                    <button ng-disabled="!inherentFunction.type||!material.simpleProtocol.displayName||!materialElement.type||!materialElement.chemicalName" class="btn btn-primary btn-xs" ng-click="saveInherentFunction(inherentFunction)">Save Inherent Function</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="saveSynthesis">
                                                        <button class="btn btn-default btn-xs" ng-click="cancelMaterialElement($index,materialElement)">Cancel</button>
                                                        <button ng-disabled="!material.simpleProtocol.displayName||!materialElement.type||!materialElement.chemicalName||inherentFunctionFormIndex!=null" class="btn btn-primary btn-xs" ng-click="saveMaterialElement($index,materialElement)">Save Material Element</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        <br>

        <table width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <tr>
                    <td class="cellLabel">
                        File Type
                    </td>
                    <td class="cellLabel">
                        Title and Download Link
                    </td>
                    <td class="cellLabel">
                        Keywords
                    </td>
                    <td class="cellLabel">
                        Description
                    </td>
                </tr>
                <tr ng-repeat="file in material.files">
                    <td>
                        {{file.type}}
                    </td>
                    <td>
                        <a href="#" target="_blank" ng-href="file.uri">{{file.title}}</a>
                    </td>
                    <td>
                        {{file.keywordsStr}}
                    </td>
                    <td>
                        {{file.description}}
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <div class="form__actions">
            <div class="form__action form__action--left">
                <!-- ngIf: nanoEntityId !== null --><button class="btn btn-danger ng-scope" type="button" value="Delete"
                    ng-click="doDelete()" ng-if="synMaterialId!=-1">Delete</button>
                <!-- end ngIf: nanoEntityId !== null -->
            </div>
            <div class="form__action form__action--right">
                <input type="hidden" ng-model="nanoEntityForm.createdBy" class="ng-pristine ng-valid">
                <input type="hidden" ng-model="nanoEntityForm.createdDate" class="ng-pristine ng-valid">
                <button class="btn btn-danger" type="reset" value="Reset" ng-click="resetForm()">Reset</button>
                <button ng-disabled="!material.simpleProtocol.displayName" class="btn btn-primary ng-binding" type="submit" ng-click="doSubmit()"
                    ng-show="!addNewComposingElement">
                    Update
                </button>

            </div>
        </div>


    </form>
</div>