<div class="spacer">
    <form novalidate="" class="ng-pristine ng-valid">
        <table class="contentTitle" width="100%" border="0" summary="layout">
            <tbody>
                <tr>
                    <!-- ngIf: nanoEntityId!=null && nanoEntityId!='' -->
                    <td scope="col" align="left"
                        class="ng-scope">
                        <h1 class="ng-binding">{{setPageTitle()}}
                        </h1>
                    </td><!-- end ngIf: nanoEntityId!=null && nanoEntityId!='' -->

                    <!-- ngIf: nanoEntityId==null -->

                    <td align="right" width="30%">
                        <a class="helpText"
                            href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Composition+Annotations#ManagingSampleCompositionAnnotations-NanomaterialAddingNanomaterialEntityCompositionAnnotations')">Help</a>
                        &nbsp;
                        <a class="helpText"
                            href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <span style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:red;align-content: center;">
            <ul>
                <!-- ngRepeat: message in messages -->
            </ul>
        </span>
        <table width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <tr>
                    <td class="cellLabel" width="100">
                        <label for="type">Protocol</label>
                    </td>
                    <td>
                        <div id="categoryPrompt">
                            <select ng-model="material.simpleProtocol" ng-options="o as o.displayName for o in dropdowns.protocolLookup track by o.domainId">
                            </select>
                            <!-- <input type="text" size="50" value="{{material.simpleProtocol.displayName}}" data-ng-model="material.simpleProtocol.displayName"> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cellLabel">
                        <label for="neDescription">Description</label>
                    </td>
                    <td>
                        <textarea cols="100" rows="3" id="neDescription" data-ng-model="material.description"
                            class="ng-pristine ng-valid">{{material.description}}</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
            <table width="100%" align="center" class="submissionView ng-scope">
                <tbody>
                    <tr>
                        <td class="cellLabel" width="15%">
                            Materials
                        </td>
                        <td>
                            <!-- <a style="display: block;" id="addFile" href="javascript:clearFile('nanomaterialEntity'); openSubmissionForm('File');"><img align="top" src="images/btn-canano_add.gif" border="0" alt="add a nanomaterial entity file"></a> -->
                            <button type="button" ng-click="openMaterialEditForm({},-1, 0)" class="btn-canano btn-canano-primary btn-canano-xs" id="addFile">Add</button>
                        </td>
                    </tr>
                    <tr ng-show="material.materialElements.length">
                        <td colspan="2">
                            <table class="editTableWithGrid" align="center" width="95%">
                                <tbody>
                                    <tr ng-repeat="me in material.materialElements">
                                        <td width="10%"><label>Material Type</label></td>
                                        <td width="70%">{{me.type}}</td>
                                        <td width="10%">
                                            <button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active" ng-click="openMaterialEditForm(me, $index, 1)">Edit</button>
                                        </td>
                                        <td width="10%">
                                            <button type="button" class="btn-canano btn-canano-danger btn-canano-xs ng-click-active"
                                                ng-click="deleteMaterialElement(me, $index, 1)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr ng-show="materialElementFormIndex!=null">
                        <td colspan="2">
                            <table class="editForm" align="center" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <!-- add index here and add index to show form. only show current index form. close all first -->
                                        <td colspan="3">
                                            <table class="editTableWithGrid form" align="center" width="95.5%">
                                                <tr>
                                                    <td width="10%">
                                                        <label>Material Type*</label>
                                                    </td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.type" ng-options="o as o for o in dropdowns.materialTypes">
                                                        </select>
                                                    </td>
                                                    <td width="10%">
                                                        <label>Chemical Name*</label>
                                                    </td> 
                                                    <td width="40%">
                                                        <input type="text" size="35" value="{{materialElement.chemicalName}}" data-ng-model="materialElement.chemicalName">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%">
                                                        <label>PubChem Data Source</label>
                                                    </td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.pubChemDataSource" ng-options="o as o for o in dropdowns.pubChemDataSources">
                                                        </select>
                                                    </td>
                                                    <td width="10%">
                                                        <label>PubChem ID</label>
                                                    </td>        
                                                    <td width="40%">
                                                        <input type="text" size="35" value="{{materialElement.pubChemId}}" data-ng-model="materialElement.pubChemId">
                                                    </td>                                                                                                
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Amount</label></td>
                                                    <td width="40%">
                                                        <input type="number" value="12" data-ng-model="materialElement.value">
                                                    </td>
                                                    <td width="10%"><label>Amount Unit</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.valueUnit" ng-options="o as o for o in dropdowns.amountUnits">
                                                            <option>mg</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Molecular Formula Type</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.molecularFormulaType" ng-options="o as o for o in dropdowns.formulaTypes">
                                                            <option>Hill</option>
                                                        </select>
                                                    </td>
                                                    <td width="10%"><label>Molecular Formula</label></td>
                                                    <td width="40%">
                                                        <input type="text" value="{{materialElement.molecularFormula}}" data-ng-model="materialElement.molecularFormula">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Supplier Name</label></td>
                                                    <td width="40%">
                                                        <select ng-model="materialElement.supplier.supplierName" ng-options="o as o for o in dropdowns.supplierNames">
                                                        </select>
                                                    </td>
                                                    <td width="10%"><label>Lot</label></td>
                                                    <td width="40%">
                                                        <input type="text" value="{{materialElement.supplier.lot}}" data-ng-model="materialElement.supplier.lot">
                                                    </td>
                                                </tr>

                                                <tr ng-show="materialElement['supplier']['supplierName']=='other'">
                                                    <td colspan="4">
                                                        <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                                                            <tr>
                                                                <td>
                                                                    <label>Other Supplier</label>
                                                                    <input type="text" value="" data-ng-model="otherSupplier">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <button ng-disabled="otherSupplier==''" type="button" class="btn-canano btn-canano-primary btn-canano-xs" ng-click="addSupplier()">Add</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="10%"><label>Material Description</label></td>
                                                    <td width="90%" colspan="3">
                                                        <textarea rows="5" cols="70" data-ng-model="materialElement.description">
                                                            {{materialElement.description}}
                                                        </textarea>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td width="10%"><label>Inherent Functions</label></td>
                                                    <td width="90%" colspan="3"><button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active" ng-click="openInherentFunctionForm(-1, $parent.$index)">Add</button></td>
                                                </tr>
                                                <tr>
                                                    <td width="90%" colspan="4">
                                                        <div class="inherentFunctions" ng-repeat="i in materialElement.inherentFunctionList">
                                                            <table class="editTableWithGrid" align="center" width="95%">
                                                                <tr>
                                                                    <td width="15%"><label>Type</label></td>
                                                                    <td width="65%">
                                                                        {{i.type}}
                                                                    </td>
                                                                    <td width="10%">
                                                                        <button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active" ng-click="openInherentFunctionForm($index, $parent.$index, i)">Edit</button>
                                                                    </td>
                                                                    <td width="10%">
                                                                        <button type="button" class="btn-canano btn-canano-danger btn-canano-xs ng-click-active" ng-click="deleteInherentFunction($index, $parent.$index, i)">Delete</button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15%"><label>Description</label></td>
                                                                    <td width="85%" colspan="3">{{i.description}}</td>
                                                                </tr>
                                                            </table><br />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-show="inherentFunctionFormIndex!=null">
                                                    <td colspan="4">
                                                        <table class="editTableWithGrid" align="center" width="95%">
                                                            <tr>
                                                                <td width="15%"><label>Type</label></td>
                                                                <td width="85%">
                                                                    <select ng-model="inherentFunction.type"
                                                                        ng-options="o as o for o in dropdowns.inherentFunctionTypes">
                                                
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="15%"><label>Description</label></td>
                                                                <td width="85%">
                                                                    <textarea rows="5" cols="70" data-ng-model="inherentFunction.description">
                                                                                                                                        {{inherentFunction.description}}
                                                                                                                                    </textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" class="saveSynthesis">
                                                                    <button class="btn-canano btn-canano-default btn-canano-xs"
                                                                        ng-click="cancelInherentFunction($index,inherentFunction)">Cancel</button>
                                                                    <button ng-disabled="!inherentFunction.type||!material.simpleProtocol.displayName||!materialElement.type||!materialElement.chemicalName" class="btn-canano btn-canano-primary btn-canano-xs" ng-click="saveInherentFunction(inherentFunction)">Save Inherent Function</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="saveSynthesis">
                                                        <button class="btn-canano btn-canano-default btn-canano-xs" ng-click="cancelMaterialElement(materialElement)">Cancel</button>
                                                        <button ng-disabled="!material.simpleProtocol.displayName||!materialElement.type||!materialElement.chemicalName||inherentFunctionFormIndex!=null" class="btn-canano btn-canano-primary btn-canano-xs" ng-click="saveMaterialElement(materialElement)">Save Material Element</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        <br>

        <table width="100%" align="center" class="submissionView" summary="layout">
            <tbody>
                <tr>
                    <td width="10%"><label>Files</label></td>
                    <td width="90%">
                        <button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active"
                            ng-click="openFileForm(-1, $parent.$index)">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="editTableWithGrid" align="center" width="95%">
                            <tr>
                                <td class="cellLabel">
                                    File Type
                                </td>
                                <td class="cellLabel">
                                    Title
                                </td>
                                <td class="cellLabel">
                                    Keywords
                                </td>
                                <td class="cellLabel" colspan="2">
                                    Description
                                </td>
                            </tr>
                            <tr class="synthesisFiles" ng-repeat="file in fileArray">
                                <td width="10%">
                                    {{file.type}}
                                </td>
                                <td width="20%">
                                    <a href="#" target="_blank" ng-href="{{file.urlExternal==true ? file.uri:'/caNanoLab/rest/sample/download?fileId='+file.id}}">{{file.title}}</a>
                                </td>
                                <td width="20%">
                                    {{file.keywordsStr}}
                                </td>
                                <td width="40%">
                                    {{file.description}}
                                </td>
                                <td width="10%">
                                    <button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active"
                                        ng-click="openFileForm($index, $parent.$index, file)">Edit</button>
                                </td>
                            </tr>    
                            <tr ng-show="fileFormIndex!=null">
                                <td colspan="5">
                                    <table class="editTableWithGrid form" align="center" width="95%">


                                        <tr ng-if="fileErrorMessage">
                                            <td colspan="2" class="fileErrorMessage">
                                                <div>
                                                    {{fileErrorMessage}}
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="25%">
                                                <input type="radio" ng-model="currentFile.uriExternal" ng-value="false" name="uriExternal">
                                                <label for="external0">Upload</label>
                                            </td>
                                            <td width="75%">
                                                <input type="radio" ng-model="currentFile.uriExternal" ng-value="true" name="uriExternal">
                                                <label for="external0">Enter File URL</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cellLabel">
                                                <span ng-bind-html="currentFile.uriExternal ? 'External URL':'File'">Label</span>*
                                            </td>
                                            <td>
                                                <input type="file" id="uploadFile" file-model="fileObject" ng-show="!currentFile.uriExternal">

                                                    <input type="text" data-ng-model="currentFile.externalUrl" ng-if="currentFile.uriExternal" size="60">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cellLabel"> 
                                                File Type*
                                            </td>
                                            <td>
                                                <select ng-model="currentFile.type" ng-options="o as o for o in dropdowns.fileTypes">
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cellLabel">
                                                File Title*
                                            </td>
                                            <td>
                                                <input type="text" name="title" data-ng-model="currentFile.title" size="60">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cellLabel">
                                                Keywords
                                            </td>
                                            <td>
                                                <textarea data-ng-model="currentFile.keywordsStr" cols="60" rows="3" id="fileKeywords" class="ng-valid ng-dirty"></textarea><br />
                                                <em>(one word per line)</em>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cellLabel">
                                                Description
                                            </td>
                                            <td>
                                                <textarea ng-model="currentFile.description" cols="60" rows="3" id="fileDescription" class="ng-valid ng-dirty"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn-canano btn-canano-danger btn-canano-xs" ng-click="removeFile(currentFile.id);" id="deleteFile" ng-show="fileFormIndex!=-1">
                                                    Delete
                                                </button>     
                                            </td>                                            
                                            <td class="saveSynthesis">
                                                <button class="btn-canano btn-canano-default btn-canano-xs" ng-click="cancelFile()">Cancel</button>
                                                <button class="btn-canano btn-canano-primary btn-canano-xs" ng-disabled="getFileConditions()" ng-click="saveFile()">Save File</button>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <!-- <tr ng-repeat="file in material.files">
                    <td>
                        {{file.type}}
                    </td>
                    <td>
                        <a href="#" target="_blank" ng-href="file.uri">{{file.title}}</a>
                    </td>
                    <td>
                        {{file.keywordsStr}}
                    </td>
                    <td>
                        {{file.description}}
                    </td>
                </tr>
                <tr ng-show="fileFormIndex!=null">
                    <td colspan="4">
                        <table class="editTableWithGrid" align="center" width="95%">
                            <tr>
                                <td>some file</td>
                            </tr>
                        </table>
                    </td>
                </tr> -->
            </tbody>
        </table>

        <br>
        <div class="form__actions">
            <div class="form__action form__action--left">
                <!-- ngIf: nanoEntityId !== null --><button class="btn-canano btn-canano-danger ng-scope" type="button" value="Delete"
                    ng-click="deleteMaterial()" ng-if="synMaterialId!=-1">Delete</button>
                <!-- end ngIf: nanoEntityId !== null -->
            </div>
            <div class="form__action form__action--right">
                <input type="hidden" ng-model="nanoEntityForm.createdBy" class="ng-pristine ng-valid">
                <input type="hidden" ng-model="nanoEntityForm.createdDate" class="ng-pristine ng-valid">
                <button class="btn-canano btn-canano-danger" type="reset" value="Reset" ng-click="resetForm()">Reset</button>
                <button ng-disabled="!material.simpleProtocol.displayName" class="btn-canano btn-canano-primary ng-binding" type="submit" ng-click="saveMaterial()"
                    ng-show="!addNewComposingElement">
                    Update
                </button>

            </div>
        </div>


    </form>
</div>
