<div class="spacer">
  <form novalidate="" class="ng-pristine ng-valid">
    <table class="contentTitle" width="100%" border="0" summary="layout">
      <tbody>
        <tr>
          <!-- ngIf: nanoEntityId!=null && nanoEntityId!='' -->
          <td scope="col" align="left" class="ng-scope">
            <h1 class="ng-binding">{{setPageTitle()}}
            </h1>
          </td><!-- end ngIf: nanoEntityId!=null && nanoEntityId!='' -->

          <!-- ngIf: nanoEntityId==null -->

          <td align="right" width="30%">
            <a class="helpText"
              href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/Managing+Sample+Composition+Annotations#ManagingSampleCompositionAnnotations-NanomaterialAddingNanomaterialEntityCompositionAnnotations')">Help</a>
            &nbsp;
            <a class="helpText"
              href="javascript:openHelpWindow('https://wiki.nci.nih.gov/display/caNanoLab/caNanoLab+Glossary')">Glossary</a>
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <span style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:red;align-content: center;">
      <ul>
        <!-- ngRepeat: message in messages -->
      </ul>
    </span>
    <table width="100%" align="center" class="submissionView" summary="layout">
      <tbody>
        <tr>
          <td class="cellLabel" width="100">
            <label for="type">Purification Type</label>
          </td>
          <td>
            <div id="categoryPrompt">
              <select ng-model="purification.type"
                ng-options="o as o for o in dropdowns.purificationTypes">
              </select>
              <!-- <input type="text" size="50" value="{{material.simpleProtocol.displayName}}" data-ng-model="material.simpleProtocol.displayName"> -->
            </div>
          </td>
        </tr>
        <tr>
          <td class="cellLabel" width="100">
            <label for="type">Protocol</label>
          </td>
          <td>
            <div id="categoryPrompt">
              <select ng-model="purification.simpleProtocol"
                ng-options="o as o.displayName for o in dropdowns.protocolLookup track by o.domainId">
              </select>
              <!-- <input type="text" size="50" value="{{material.simpleProtocol.displayName}}" data-ng-model="material.simpleProtocol.displayName"> -->
            </div>
          </td>
        </tr>
        <tr>
          <td class="cellLabel" width="100">
            <label for="yield">Yield</label>
          </td>
          <td>
            <div id="categoryPrompt">
              <input type="text" size="35" value="{{purification.yield}}" data-ng-model="purification.yield">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table width="100%" align="center" class="submissionView ng-scope">
      <tbody>
        <tr>
          <td class="cellLabel" width="100">
            <label for="type">Design and Methods Description</label>
          </td>
          <td>
            <div id="categoryPrompt">
              <textarea rows="5" cols="70"
                data-ng-model="purification.designMethodDescription">{{purification.designMethodDescription}}</textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table width="100%" align="center" class="submissionView ng-scope">
              <tbody>
                <tr>
                  <td class="cellLabel" width="15%">
                    Technique and Instruments
                  </td>
                  <td>
                    <!-- <a style="display: block;" id="addFile" href="javascript:clearFile('nanofunctionalizationEntity'); openSubmissionForm('File');"><img align="top" src="images/btn_add.gif" border="0" alt="add a nanofunctionalization entity file"></a> -->
                    <button type="button" ng-click="openTechniqueInstrumentsForm(-1,0,{})" class="btn btn-canano-primary btn-canano-xs"
                      id="addFile">Add</button>
                  </td>
                </tr>
                <tr ng-show="purification.simpleExperimentBeans.length">
                  <td colspan="2">
                    <table class="editTableWithGrid" align="center" width="95%">
                      <tbody>
                        <tr ng-repeat="t in purification.simpleExperimentBeans">
                          <td width="10%"><label>Technique Type</label></td>
                          <td width="70%">{{t.techniqueType}}</td>
                          <td width="10%">
                            <button type="button" class="btn btn-canano-primary btn-canano-xs ng-click-active"
                              ng-click="openTechniqueInstrumentsForm($index, 0, t)">Edit</button>
                          </td>
                          <td width="10%">
                            <button type="button" class="btn btn-canano-danger btn-canano-xs ng-click-active"
                              ng-click="deleteTechnique($index, 0, t)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr ng-show="techniqueFormIndex!=null">
                  <td colspan="2">
                    <table class="editTableWithGrid form" align="center" width="95.5%">
                      <tr>
                        <td width="30%">
                          <label>Technique*</label>
                        </td>
                        <td>
                          <select ng-model="technique.techniqueType" ng-change="getAbbreviationDescForTechnique()" ng-options="o as o for o in dropdowns.techniques">
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td width="30%">
                          <label>Abbreviation</label>
                        </td>
                        <td>
                          <input type="text" name="abbreviation" ng-model="technique.abbreviation" size="30" value="{{technique.abbreviation}}">
                        </td>
                      </tr>
                      <tr>
                        <td width="30%">
                          <label>Description</label>
                        </td>
                        <td>
                          <textarea ng-model="technique.description" name="description" cols="70" rows="5" id="configDescription"
                            class="ng-pristine ng-valid">{{technique.description}}</textarea>
                        </td>
                      </tr>
                      <tr>
                        <td width="30%"><label>Instruments</label></td>
                        <td width="70%">
                          <button type="button" class="btn btn-canano-primary btn-canano-xs ng-click-active" ng-click="openInstrumentForm(-1, $parent.$index)">Add</button>
                        </td>
                      </tr>
                      <tr>
                        <td width="90%" colspan="2">
                          <div class="inherentFunctions" ng-repeat="i in technique.instruments">
                            <table class="editTableWithGrid" align="center" width="95%">
                              <tr>
                                <td width="15%"><label>Type</label></td>
                                <td width="65%">
                                  {{i.type}}
                                </td>
                                <td width="10%">
                                  <button type="button" class="btn btn-canano-primary btn-canano-xs ng-click-active"
                                    ng-click="openInstrumentForm($index, $parent.$index, i)">Edit</button>
                                </td>
                                <td width="10%">
                                  <button type="button" class="btn btn-canano-danger btn-canano-xs ng-click-active"
                                    ng-click="deleteInstrument($index, $parent.$index, i)">Delete</button>
                                </td>
                              </tr>
                            </table><br />
                          </div>
                          <div class="inherentFunctions" ng-if="instrumentFormIndex!=null">
                            <table class="editTableWithGrid" align="center" width="95%">
                              <tr>
                                <td width="15%"><label>Manufacturer</label></td>
                                <td width="85%">
                                  <select ng-model="instrument.manufacturer" ng-options="o as o for o in dropdowns.manufacturers"></select>
                                </td>
                              </tr>
                              <tr>
                                <td width="15%"><label>Model Name</label></td>
                                <td width="85%">
                                  <input type="text" name="modelName" ng-model="instrument.modelName" value="{{instrument.modelName}}">
                                </td>
                              </tr>
                              <tr>
                                <td width="15%"><label>Type</label></td>
                                <td width="85%">
                                  <select ng-model="instrument.type" ng-options="o as o for o in instrumentTypes"></select>
                                </td>
                              </tr>
                              <tr ng-show="instrument.type=='other'">
                                <td colspan="2">
                                    <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox" summary="layout">
                                        <tr>
                                            <td>
                                                <label>Other Type</label>
                                                <input type="text" value="" data-ng-model="otherInstrumentType">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button ng-disabled="otherInstrumentType==''" type="button" class="btn-canano btn-canano-primary btn-canano-xs" ng-click="addType(otherInstrumentType)">Add</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>                              
                              <tr>
                                <td colspan="2" class="saveSynthesis">
                                  <button class="btn btn-canano-default btn-canano-xs" ng-click="cancelInstrument(instrument)">Cancel</button>
                                  <button class="btn btn-canano-primary btn-canano-xs" ng-click="saveInstrument(instrument)">Save Instrument</button>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" class="saveSynthesis">
                          <button class="btn btn-canano-default btn-canano-xs" ng-click="cancelTechnique(technique)">Cancel</button>
                          <button
                            class="btn btn-canano-primary btn-canano-xs" ng-click="saveTechnique(technique)">Save Technique</button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>


    <br>
    <br>
<table class="submissionView" width="100%" align="center">
  <tbody>
    <tr>
      <td class="cellLabel" width="20%">
        Finding
      </td>
      <td>
        <button ng-click="addNewFinding()" ng-disabled="updateFinding" class="btn btn-canano-primary btn-canano-xs">Add</button>
      </td>
    </tr>
    <tr ng-repeat="finding in purification.purityBeans">
      <td colspan="2">
        <table class="editTableWithGrid" width="95%" align="center" ng-if="purification.purityBeans.length">
          <tbody>
            <tr>
              <th style="text-align: right">
                <button ng-click="updateExistingFinding(finding)" ng-disabled="updateFinding"
                  class="btn btn-canano-primary btn-canano-xs"> Edit
                </button>

              </th>
            </tr>

            <tr>
              <td class="cellLabel">
                Data and Conditions
              </td>
            </tr>
            <tr ng-if="finding.columnHeaders.length">
              <td>
                <table class="summaryViewWithGrid" width="95%" align="center">
                  <tbody>
                    <tr>
                      <td class="cellLabel" ng-repeat="header in finding.columnHeaders"
                        ng-bind-html="header.name">
                        {{header.name}}
                      </td>
                    </tr>
                    <tr ng-repeat="row in finding.rows">
                      <td ng-repeat="cell in row.cells" style="padding-left:15px;">
                        <span ng-if="cell.operand!='='">{{cell.operand}}</span>{{cell.value}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <ng-include src="'/caNanoLab/views/sample/view/managePurificationFileView.html'"></ng-include>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span id="editFindingInfo"></span>
        <table class="subSubmissionView" summary="layout" width="95%" align="center" ng-if="updateFinding">
          <tbody>
            <tr>
              <th colspan="2">
                Finding Info
              </th>
            </tr>
            <tr>
              <td class="cellLabel">
                Data and Conditions
              </td>
              <td class="cellLabel">
                <input type="text" ng-model="currentFinding.numberOfColumns" name="numberOfRows" size="4" id="colNum">
                <label for="colNum">columns</label>
                <input type="text" ng-model="currentFinding.numberOfRows" name="numberOfRows" size="4" id="rowNum">
                <label for="rowNum">rows</label>
                <button ng-click="updateRowsColsForFinding()" class="btn btn-canano-primary btn-canano-xs">Update</button>
                <button ng-hide="isNewFinding" ng-click="openColumnOrderForm()" class="btn btn-canano-primary btn-canano-xs">Set
                  Column Order</button>

                <!-- Import a comma separated list to Characterization -> Finding ->Finding Info -> Data & Conditions  -->
                <!-- Whe the user selects a file from the local machine, the file name is passed to the function fileNameChanged.  -->
                <label class="btn btn-canano-primary btn-canano-xs  btn-canano-file readBytesButtons">
                  Import csv
                  <input type="file" id="csvFile" style="display: none"
                    onchange="angular.element(this).scope().fileNameChanged(this.files)">
                </label>


              </td>
            </tr>
            <tr ng-show="columnOrder">
              <td colspan="2">
                <table class="promptbox" width="85%" align="center" id="matrix"
                  ng-if="currentFinding.columnHeaders.length">
                  <tbody>
                    <tr>
                      <td>
                        <h3 style="margin:0px;padding:0px;">Column Order</h3>
                      </td>
                    </tr>
                    <tr>
                      <td ng-repeat="cell in currentFinding.columnHeaders" class="cellLabel"
                        ng-bind-html="cell.name"></td>
                    </tr>
                    <tr>
                      <td ng-repeat="cell in currentFinding.columnHeaders">
                        <input style="min-height: 28px" type="number" name="cellRow" min=1
                          max={{currentFinding.columnHeaders.length}} ng-model="cell.columnOrder"
                          ng-change="columnOrderChanged(cell.columnOrder, $index)"></td>
                      <td><button ng-click="updateColumnOrder()" ng-disabled="disableChangeColumnOrder"
                          class="btn btn-canano-primary btn-canano-xs">Update Order</button></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table class="promptbox" width="85%" align="center" id="matrix"
                  ng-if="currentFinding.columnHeaders.length">
                  <tbody>
                    <tr>
                      <td colspan="{{currentFinding.columnHeaders.length}}">
                        <h3 style="margin:0px;padding:0px;">Column Data</h3>
                      </td>
                    </tr>
                    <tr>
                      <td ng-repeat="cell in currentFinding.columnHeaders" class="cellLabel"><a
                          ng-click="openColumnForm(cell)" href=""
                          ng-bind-html="cell.name">{{cell.name}}</a></td>
                    </tr>
                    <tr ng-if="columnForm">
                      <td colspan="{{currentFinding.columnHeaders.length}}">
                        <table class="subSubmissionView" width="100%" align="center" id="matrix"
                          ng-if="currentFinding.columnHeaders.length" width="600px;">
                          <tr>
                            <td colspan="2">
                              <h3 style="margin:0px;padding:0px;">Column Definitions</h3>At least one column must be of
                              type Datum.
                            </td>
                          </tr>
                          <tr>
                            <td width="30%">
                              <label for="columnType">Column Type *</label>
                            </td>
                            <td>
                              <select ng-hide="loader" ng-model="findingsColumn.columnType"
                                ng-change="onColumnTypeDropdownChange()">
                                <option value=""></option>
                                <option>datum</option>
                                <option>condition</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="columnName">Column Name *</label>
                            </td>
                            <td>
                              <select data-ng-options="option for option in columnNameLookup" ng-hide="loader" ng-model="findingsColumn.name"
                                ng-init="findingsColumn.name=findingsColumn.name" ng-change="onColumnNameDropdownChange()">
                          
                                <!--
                          															<select ng-model="findingsColumn.columnName" data-ng-options="option for option in columnNameLookup" ng-change="onColumnNameDropdownChange()"> -->
                                <option value=""></option>
                                <option ng-disabled="disableColumn(option)">{{option}}</option>
                          
                              </select><br />
                              <span style="font-style: italic; font-size: 0.8em;">Combination of column name and column value type must be unique.</span>


                              <div id="promptCategory" ng-if="findingsColumn.name=='other'">
                                <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox"
                                  summary="layout">
                                  <tbody>
                                    <tr>
                                      <td class="cellLabel">
                                        <label for="textCategory" category="">New Column Name:</label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <input type="text" id="textCategory" ng-model='localForm.otherCategoryText'
                                          class="promptbox">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="text-align: right">
                                        <button type="button" class="btn btn-canano-primary btn-canano-xs"
                                          ng-click="findingsColumn.name=localForm.otherCategoryText; columnNameLookup.push(localForm.otherCategoryText);"
                                          ng-disabled='localForm.otherCategoryText.length < 1 || localForm.otherCategoryText === undefined '>Add</button>

                                        <button type="button" class="btn btn-canano-default btn-canano-xs"
                                          ng-click="findingsColumn.name='';">Cancel</button>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr ng-if="findingsColumn.columnType=='condition'">
                            <td><label for="conditionProperty">Condition Property</label></td>
                            <td><select ng-hide="loader" ng-model="findingsColumn.conditionProperty"
                                data-ng-options="option for option in conditionTypeLookup">
                                <option value=""></option>
                              </select>
                              <div id="promptCategory" ng-if="findingsColumn.columnType=='other'">
                                <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox"
                                  summary="layout">
                                  <tbody>
                                    <tr>
                                      <td class="cellLabel">
                                        <label for="textCategory" category="">New Condition Property:</label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <input type="text" id="textCategory" ng-model='localForm.otherCategoryText'
                                          class="promptbox">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="text-align: right">

                                        <button type="button" class="btn btn-canano-primary btn-canano-xs"
                                          ng-click="findingsColumn.columnType=localForm.otherCategoryText; conditionTypeLookup.push(localForm.otherCategoryText);">Add</button>

                                        <button type="button" class="btn btn-canano-default btn-canano-xs"
                                          ng-click="findingsColumn.columnType='';">Cancel</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td><label for="valueType">Column Value Type</label></td>
                            <td><select ng-hide="loader" ng-model="findingsColumn.valueType"
                                data-ng-options="option for option in purification.datumConditionValueTypeLookup">
                                <option value=""></option>
                              </select><br />
                              <span style="font-style: italic; font-size: 0.8em;">Combination of column name and column value type must be unique.</span>

                              <div id="promptCategory" ng-if="findingsColumn.valueType=='other'">
                                <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox"
                                  summary="layout">
                                  <tbody>
                                    <tr>
                                      <td class="cellLabel">
                                        <label for="textCategory" category="">New Column Value Type:</label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <input type="text" id="textCategory" ng-model='localForm.otherCategoryText'
                                          class="promptbox">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="text-align: right">
                                        <button type="button" class="btn btn-canano-primary btn-canano-xs"
                                          ng-click="findingsColumn.valueType=localForm.otherCategoryText; purification.datumConditionValueTypeLookup.push(localForm.otherCategoryText);">Add</button>

                                        <button type="button" class="btn btn-canano-default btn-canano-xs"
                                          ng-click="findingsColumn.valueType='';">Cancel</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>


                      </td>
                    </tr>

                    <tr>
                      <td><label for="valueUnit">Column Value Unit</label></td>
                      <td><select ng-hide="loader" ng-model="findingsColumn.valueUnit"
                          data-ng-options="option for option in valueUnitsLookup">
                          <option value=""></option>
                        </select>

                        <div id="promptCategory" ng-if="findingsColumn.valueUnit=='other'">
                          <table cellspacing="5" cellpadding="0" border="0" width="100%" class="promptbox"
                            summary="layout">
                            <tbody>
                              <tr>
                                <td class="cellLabel">
                                  <label for="textCategory" category="">New Column Value Unit:</label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" id="textCategory" ng-model='localForm.otherCategoryText'
                                    class="promptbox">
                                </td>
                              </tr>
                              <tr>
                                <td style="text-align: right">

                                  <button type="button" class="btn btn-canano-primary btn-canano-xs"
                                    ng-click="findingsColumn.valueUnit=localForm.otherCategoryText;valueUnitsLookup.push(localForm.otherCategoryText);">Add</button>

                                  <button type="button" class="btn btn-canano-default btn-canano-xs"
                                    ng-click="findingsColumn.valueUnit='';">Cancel</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>

              </td>
            </tr>
            <tr>
              <td><label for="constantValue">Constant Value</label></td>
              <td><input type="text" name="constantValue" ng-model="findingsColumn.constantValue"><br />
                <span style="font-style: italic; font-size: 0.8em;">For boolean column value type, please enter 1 for
                  true, 0 for false</span>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="removeColumnForm()" class="btn btn-canano-danger btn-canano-xs">Reset</button>
              </td>
              <td>
                
                <button
                  ng-disabled="!findingsColumn.columnType||columnNameLookup.indexOf(findingsColumn.name)==-1"
                  ng-click="saveColumnForm()" class="btn btn-canano-primary btn-canano-xs">
                  Save
                </button>
                &nbsp;
                <button ng-click="closeColumnForm()" class="btn btn-canano-default btn-canano-xs">
                  Cancel
                </button>
              </td>
            </tr>
        </table>
      </td>
    </tr>


    <tr ng-repeat="row in currentFinding.rows track by $index">
      <td ng-repeat="cell in row.cells  track by $index">
        <div class="finding_row">
          <div class="finding_cell">
            <select ng-hide="loader" data-ng-model="cell.operand" data-ng-options="option for option in operands"
              id="operand" aria-label="operand">
            </select>

          </div>
          <div class="finding_cell">
            <input id={{$index}}:{{$parent.$index}}
              ng-class="{finding_cell_bad: badFindingCell[$index][$parent.$index]}" type="text" name="cellRow"
              ng-model="cell.value" oninput="angular.element(this).scope().currentFindingCellChanged( this)">
          </div>
        </div>
      </td>

      <td><button ng-click="deleteDataConditionRow(row)" class="btn btn-canano-danger btn-canano-xs">Delete</button></td>
    </tr>

  </tbody>
</table>
</td>
</tr>
<tr>
  <td colspan="{{currentFinding.columnHeaders.length}}">
    <ng-include src="'/caNanoLab/views/sample/edit/managePurifcationFileEdit.html'"></ng-include>
  </td>
</tr>
<tr>
  <td>
    <button ng-if="!isNewFinding" ng-click="removeFindingInfo()" class="btn btn-canano-danger btn-canano-xs"
      ng-disabled="columnForm">Delete</button>
  </td>
  <td align="right" style="float:right;">
    <button ng-click="saveFindingInfo()" ng-disabled="purification.type==''||purification.name==''||columnForm||columnInvalid()"
      class="btn btn-canano-primary btn-canano-xs">Save</button>
    <button ng-disabled="columnForm" ng-click="cancelFindingInfo()" class="btn btn-canano-default btn-canano-xs">Cancel</button>
  </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br />
    <br>
    <br>


    <table width="100%" align="center" class="submissionView ng-scope">
      <tbody>
        <tr>
          <td class="cellLabel" width="100">
            <label for="analysis">Analysis and Conclusion</label>
          </td>
          <td>
            <div id="categoryPrompt">
              <textarea rows="5" cols="70" data-ng-model="purification.analysis">{{purification.analysis}}</textarea>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>

    <table width="100%" align="center" class="submissionView" summary="layout">
      <tbody>
          <tr>
              <td width="10%"><label>Files</label></td>
              <td width="90%">
                  <button ng-disabled="!purification.simpleProtocol.displayName || !purification.type" type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active"
                      ng-click="openFileForm(-1, $parent.$index)">Add</button>
              </td>
          </tr>
          <tr>
              <td colspan="2">
                  <table class="editTableWithGrid" align="center" width="95%">
                      <tr>
                          <td class="cellLabel">
                              File Type
                          </td>
                          <td class="cellLabel">
                              Title
                          </td>
                          <td class="cellLabel">
                              Keywords
                          </td>
                          <td class="cellLabel" colspan="2">
                              Description
                          </td>
                      </tr>
                      <tr class="synthesisFiles" ng-repeat="file in fileArray">
                          <td width="10%">
                              {{file.type}}
                          </td>
                          <td width="20%">
                              <a href="#" target="_blank" ng-href="{{file.urlExternal==true ? file.uri:'/caNanoLab/rest/sample/download?fileId='+file.id}}">{{file.title}}</a>
                          </td>
                          <td width="20%">
                              {{file.keywordsStr}}
                          </td>
                          <td width="40%">
                              {{file.description}}
                          </td>
                          <td width="10%">
                              <button type="button" class="btn-canano btn-canano-primary btn-canano-xs ng-click-active"
                                  ng-click="openFileForm($index, $parent.$index, file)">Edit</button>
                          </td>
                      </tr>    
                      <tr ng-show="fileFormIndex!=null">
                          <td colspan="5">
                              <table class="editTableWithGrid form" align="center" width="95%">


                                  <tr ng-if="fileErrorMessage">
                                      <td colspan="2" class="fileErrorMessage">
                                          <div>
                                              {{fileErrorMessage}}
                                          </div>
                                      </td>
                                  </tr>

                                  <tr>
                                      <td width="25%">
                                          <input type="radio" ng-model="currentFile.uriExternal" ng-value="false" name="uriExternal">
                                          <label for="external0">Upload</label>
                                      </td>
                                      <td width="75%">
                                          <input type="radio" ng-model="currentFile.uriExternal" ng-value="true" name="uriExternal">
                                          <label for="external0">Enter File URL</label>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="cellLabel">
                                          <span ng-bind-html="currentFile.uriExternal ? 'External URL':'File'">Label</span>*
                                      </td>
                                      <td>
                                          <input type="file" id="uploadFile" file-model="fileObject" ng-show="!currentFile.uriExternal">

                                              <input type="text" data-ng-model="currentFile.externalUrl" ng-if="currentFile.uriExternal" size="60">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="cellLabel"> 
                                          File Type*
                                      </td>
                                      <td>
                                          <select ng-model="currentFile.type" ng-options="o as o for o in dropdowns.fileTypes">
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="cellLabel">
                                          File Title*
                                      </td>
                                      <td>
                                          <input type="text" name="title" data-ng-model="currentFile.title" size="60">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="cellLabel">
                                          Keywords
                                      </td>
                                      <td>
                                          <textarea data-ng-model="currentFile.keywordsStr" cols="60" rows="3" id="fileKeywords" class="ng-valid ng-dirty"></textarea><br />
                                          <em>(one word per line)</em>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="cellLabel">
                                          Description
                                      </td>
                                      <td>
                                          <textarea ng-model="currentFile.description" cols="60" rows="3" id="fileDescription" class="ng-valid ng-dirty"></textarea>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="2" class="saveSynthesis">
                                          <button class="btn-canano btn-canano-default btn-canano-xs" ng-click="cancelFile()">Cancel</button>
                                          <button class="btn-canano btn-canano-primary btn-canano-xs" ng-disabled="getFileConditions()" ng-click="saveFile()">Save File</button>

                                      </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>

                  </table>
              </td>
          </tr>
          <!-- <tr ng-repeat="file in material.files">
              <td>
                  {{file.type}}
              </td>
              <td>
                  <a href="#" target="_blank" ng-href="file.uri">{{file.title}}</a>
              </td>
              <td>
                  {{file.keywordsStr}}
              </td>
              <td>
                  {{file.description}}
              </td>
          </tr>
          <tr ng-show="fileFormIndex!=null">
              <td colspan="4">
                  <table class="editTableWithGrid" align="center" width="95%">
                      <tr>
                          <td>some file</td>
                      </tr>
                  </table>
              </td>
          </tr> -->
      </tbody>
  </table>

    <br>
    <div class="form__actions">
      <div class="form__action form__action--left">
        <!-- ngIf: nanoEntityId !== null --><button class="btn-canano btn-canano-danger ng-scope" type="button" value="Delete"
          ng-click="deleteMaterial()" ng-if="synMaterialId!=-1">Delete</button>
        <!-- end ngIf: nanoEntityId !== null -->
      </div>
      <div class="form__action form__action--right">
        <input type="hidden" ng-model="nanoEntityForm.createdBy" class="ng-pristine ng-valid">
        <input type="hidden" ng-model="nanoEntityForm.createdDate" class="ng-pristine ng-valid">
        <button class="btn-canano btn-canano-danger" type="reset" value="Reset" ng-click="resetForm()">Reset</button>
        <button ng-disabled="!purification.simpleProtocol.displayName || !purification.type" class="btn-canano btn-canano-primary ng-binding" type="submit"
          ng-click="savePurification()" ng-show="!addNewComposingElement">
          Update
        </button>

      </div>
    </div>


  </form>
</div>
