    @import "../../main-display/main-display.component.scss";
$leftColumnWidth:250px;

table.dataTable.user td:first-child {
    width:$leftColumnWidth !important;
}

table.dataTable.user td:last-child{
    width:calc(100% - #{$leftColumnWidth});
}

