<canano-main-display-heading [helpUrl]="helpUrl"
[toolHeadingName]="toolHeadingNameManage">

</canano-main-display-heading>

<div class="mainSection" *ngIf="currentUrl=='collaboration-groups'">
    <div class="error" *ngIf="errors['error']">
        {{errors['error']}}
    </div>
    <form action="" method="get" name="functionalizingEntityForm">
    <div class="mainBorder" *ngIf="data">
        <h5>Existing Collaboration Groups</h5>
        <div *ngIf="!data.length">
            There are no existing collaboration groups.
        </div>
        <table *ngIf="data.length" class="dataTable">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Users</th>
                <th></th>
            </tr>
            <ng-container *ngFor="let group of data; let groupIndex=index; let odd=odd">
                <tr [ngClass]="{'rowOdd':odd}">
                    <td>
                        <button *ngIf="!group['expand']" (click)="expand(group,groupIndex,true)" class="btn-canano btn-canano-primary btn-canano-xs mr-1">+</button>
                        <button *ngIf="group['expand']" (click)="expand(group,groupIndex,false)" class="btn-canano btn-canano-primary btn-canano-xs mr-1">-</button>
                        {{group.name}}

                    </td>
                    <td>
                        {{group.description}}
                    </td>
                    <td>
                        {{group.ownerName}}
                    </td>
                    <td>
                        <div *ngFor="let user of group.userAccesses">
                            {{user.recipientDisplayName}}
                        </div>
                    </td>
                    <td>
                        <button (click)="editCollaborationGroup(group)" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Edit</button>
                    </td>
                </tr>
                <tr *ngIf="group['expand']">
                    <td colspan="5">
                        <table class="dataTable">
                            <tr>
                                <th>Sample Name</th>
                                <th>Primary Point of Contact</th>
                                <th>Composition</th>
                                <th>Functions</th>
                                <th>Characterizations</th>
                                <th>Data Availability</th>
                                <th>Created Date</th>
                            </tr>
                            <tr *ngFor="let sample of sampleData[group.id]">
                                <td>
                                    <a [routerLink]="['/home/samples/sample', sample.sampleId]">
                                        {{sample.sampleName}}
                                    </a>
                                </td>
                                <td>
                                    <span [innerHtml]="sample.pointOfContact">

                                    </span><br />
                                </td>
                                <td>
                                    <div *ngFor="let composition of sample.composition">
                                        {{composition}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let function of sample.functions">
                                        {{function}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let characterization of sample.characterizations">
                                        {{characterization}}
                                    </div>
                                </td>
                                <td>{{sample.dataAvailability}}</td>
                                <td>{{sample.createdDate|date:"shortDate"}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </table><br />
        <h5>New Collaboration Group&nbsp;&nbsp;&nbsp;<button (click)="addCollaborationGroup()" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Add</button></h5>
        <ng-container *ngIf="collaborationIndex!=null&&collaborationGroup">
            <br />
            <div class="mainBorder">
                <table class="dataMain" id="collaborationForm">
                    <tr>
                        <td class="label">
                            <label for="name">
                                Name*
                            </label>
                        </td>
                        <td>
                            <input type="text" name="name" [(ngModel)]="collaborationGroup.name">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="description">
                                Description
                            </label>
                        </td>
                        <td>
                            <textarea name="description" rows="5" cols="75" [(ngModel)]="collaborationGroup.description">
                                {{collaborationGroup.description}}
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="user">
                                User
                            </label>
                        </td>
                        <td>
                            <button (click)="addUser()" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Add</button><br /><br />
                            <table id="user" class="dataTable user" *ngIf="collaborationGroup.userAccesses.length" >
                                <tr>
                                    <th>
                                        Login Name
                                    </th>
                                    <th></th>
                                </tr>
                                <tr *ngFor="let user of collaborationGroup.userAccesses;let userIndex=index; let odd=odd" [ngClass]="{'rowOdd':odd}">
                                    <td>
                                        {{user.recipient}}
                                    </td>
                                    <td>
                                        <button (click)="deleteUser(user,userIndex)" class="btn-canano btn-canano-danger btn-canano-xs mr-1">Delete</button>
                                    </td>
                                </tr>
                            </table>
                            <ng-container *ngIf="userFormIndex!=null">
                                <br />
                                <div class="mainBorder">
                                    <table class="dataMain">
                                        <tr>
                                            <td class="label">
                                                <label for="userInfoBean['recipient']">
                                                    User Login Name*
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" name="recipient" [(ngModel)]="userInfoBean.recipient">
                                                &nbsp;<button (click)="searchForUser()" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Search for User</button>
                                            </td>
                                            <td *ngIf="users">
                                                <select name="users" [(ngModel)]="userInfoBean.recipient">
                                                    <option [selected]="userInfoBean['recipient']==''" [ngValue]="''">--Select--</option>
                                                    <option *ngFor="let user of users | keyvalue" [ngValue]="user.key">
                                                        {{user.value}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td *ngIf="users"></td>
                                            <td colspan="2" class="buttons">
                                                <button (click)="saveUser()" [disabled]="userInfoBean.recipient==''" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Save</button>
                                                <button (click)="cancelUser()" class="btn-canano btn-canano-default btn-canano-xs mr-1">Cancel</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button (click)="deleteCollaborationGroup()" *ngIf="collaborationIndex!=-1" class="btn-canano btn-canano-danger btn-canano-xs mr-1">Delete</button>
                        </td>
                        <td>
                            <button (click)="saveCollaborationGroup()" [disabled]="collaborationGroup.name==''" class="btn-canano btn-canano-primary btn-canano-xs mr-1">Save</button>
                            <button (click)="cancelCollaborationGroup()" class="btn-canano btn-canano-default btn-canano-xs mr-1">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>
    </div>
    </form>
</div>

<div class="mainSection" *ngIf="currentUrl=='manage-groups'">
    <div class="mainBorder">
        <P>
            This is the manage community section which allows a user to manage collaboration groups. In this section, a user can create, edit, or delete a collaboration group and assign users to participate in the collaboration group.
        </P>
        <div class="links-panel card ml-1 mt-2">
            <div  class="card-header mb-0 pb-0">
                <span class="card-title unselectable m-0 p-0">
                    <h5>Community Links</h5>
                </span>

            </div>
            <div class="card-body">
                <a class="link-clicker" routerLink="/home/groups/collaboration-groups">Manage Collaboration Groups</a><br>
                Select to create, update, delete collaboration groups and manage users within the groups.<br><br>
            </div>
        </div>
    </div>
</div>
