<canano-main-display-heading *ngIf="loaded&&!homePage"
[helpUrl]="'https://wiki.nci.nih.gov/display/caNanoLab/Getting+Started+in+caNanoLab#GettingStartedincaNanoLab-LoggingIn'"
[toolHeadingName]="'Log into caNanoLab'"
>
</canano-main-display-heading>

<div [ngClass]="{'mainSection':loaded&&!homePage,'right-side-bar-content':homePage}">
<div [ngClass]="{'mainBorder':loaded&&!homePage}">
    <table class="login">
        <tr>
            <td colspan="2">
                <P><B>No account is required to browse publicly available data.</B></P>
            </td>
        </tr>
        <tr>
            <td>
                <label for="loginId">
                    LOGIN ID
                </label>
            </td>
            <td>
                <input type="text" name="loginId" id="loginId" [(ngModel)]="user">
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">
                    PASSWORD
                </label>
            </td>
            <td>
                <input type="password" name="password" id="password" [(ngModel)]="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <button class="btn btn-primary btn-sm" (click)="onLoginClick()">
                        Login
                    </button>
            </td>
        </tr>
    </table>
</div>
</div>
