@import "../../../../main-display/main-display.component.scss";
@import "src/app/btn-canano";
table.dataTable th{
	// padding:5px 20px 5px 5px;
    vertical-align:top;
    border:1px solid #ccc;
    white-space:nowrap;
}
table.dataTable td:nth-child(1) {
    width:145px !important;
}

table.dataTable td:nth-child(2) {
    width:175px !important;
}

table.dataTable td:nth-child(3) {
    width:105px !important;
}
table.dataTable td:nth-child(4) {
    width:175px !important;
}
table.dataTable td:nth-child(5) {
    width:230px !important;
}
table.dataTable td:nth-child(6) {
    width:200px !important;
}
table.dataTable td:nth-child(7) {
    width:120px !important;
}
table.dataTable td:nth-child(8) {
    width:120px !important;
}
$popup-z-index: 10;

td,
th{
    vertical-align: top;
}

.sample-search-results-type-td{
    min-width: 60px;
    vertical-align:top;
}

.sample-search-results-version-td{
    min-width: 90px;
}

.sample-search-results-created-td{
    min-width: 82px;
}

.sample-search-results-abbreviation-td{
    min-width: 110px;
}







.number-spinner{
    border: solid 1px #686868;
    border-radius: 3px;
    position: relative;
    top: 0;
    padding: 0 4px 0 4px;
    width: 50px;
    height: 28px;
}

.rows-per-page-spinner{
    color: #686868;
}

.sample-search-results-edit-button{
    color: #00f;
    text-decoration: underline;
    text-decoration-color: #00f;

    &:hover{
        cursor: pointer;
    }
}

ul {
    padding:0px 15px 0px 15px;
}

