

<div *ngIf="accessData !== undefined ">
    data.recipientDisplayName: <span [innerHTML]="accessData['recipientDisplayName']"></span>
</div>
<div>
    temp.recipientDisplayName: <span [innerHTML]="temp['recipientDisplayName']"></span>
</div>

<table>
    <tr>
        <td>recipient</td>
        <td [innerHTML]="temp['recipient']"></td>
    </tr>
    <tr>
        <td>accessType</td>
        <td [innerHTML]="temp['accessType']"></td>
    </tr>
    <tr>
        <td>roleName</td>
        <td [innerHTML]="temp['roleName']"></td>
    </tr>
    <tr>
        <td>recipient</td>
        <td [innerHTML]="temp['roleDisplayName']"></td>
    </tr>
    <tr>
        <td>recipient</td>
        <td [innerHTML]="temp['principal']"></td>
    </tr>
</table>

<button class="btn"
        (click)=but()
        type="button"
>
    Click Me
</button>
