<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingName"
>
</canano-main-display-heading>
<div class="mainSection">
    <div class="error" *ngIf="errors['error']">
        {{errors['error']}}
    </div>
    <div class="mainBorder">
    <table class="searchForm">
        <tr>
            <td class="label">
                <label for="id_input">
                    ID
                </label>
            </td>
            <td>
                <input id="id_input" type="text" [(ngModel)]="inputId">
            </td>
        </tr>
        <tr>
            <td>
                <label for="type_input">
                    Type
                </label>
            </td>
            <td>
                <select name="type" id="type_input" [(ngModel)]="type">
                    <option value="PubMed">
                        PubMed
                    </option>
                    <option value="DOI">
                        DOI
                    </option>
                </select>
            </td>
        </tr>
    </table>

</div>

<div class="buttons">
    <button (click)="reset()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
    <button [disabled]="inputId=='' || !inputId" (click)="onSearchSampByPubClick()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Search</button>
</div>
</div>
