<div>
  <div>
    <form novalidate style="margin-top: 10px; margin-left: 20px">
      <h3> Change Password </h3><br>

      <span style="font-family:Helvetica,sans-serif;font-size:14px;color:blue;align-content: center;">
        <label ng-show="message!=''">
            {{message}}
        </label>
      </span>

      <span style="font-family:Helvetica,sans-serif;font-size:14px;color:red;align-content: center;">
        <label ng-show="errorMessage!=''">
            {{errorMessage}}
        </label>
    	</span>

      <div>
        <div class="message">Password requirements:</div><br>

        <div>
          <label *ngIf="hasUppercase">&#x2713;</label>
          <label *ngIf="!hasUppercase">&#x2717;</label>
          Must contain at least one UPPERCASE character.
        </div>

        <div>
          <label *ngIf="hasLowercase">&#x2713;</label>
          <label *ngIf="!hasLowercase">&#x2717;</label>
          Must contain at least one LOWERCASE character.
        </div>

        <div>
          <label *ngIf="hasNumber">&#x2713;</label>
          <label *ngIf="!hasNumber">&#x2717;</label>
          Must contain at least one digit.
        </div>

        <div>
          <label *ngIf="hasSpecialChar">&#x2713;</label>
          <label *ngIf="!hasSpecialChar">&#x2717;</label>
          Must contain at least one special character.
        </div>

        <div>
          <label *ngIf="isGoodLength">&#x2713;</label>
          <label *ngIf="!isGoodLength">&#x2717;</label>
          Must be between {{minCharCount}} and 32 characters.
        </div>

        <div>
          <label *ngIf="isPwdMatch">&#x2713;</label>
          <label *ngIf="!isPwdMatch">&#x2717;</label>
          Passwords must match.
        </div>
      </div>

      <br/>

      <table width="100%" align="center" summary="layout">
        <tr>
          <td class="cellLabel" width="160">
            <label for="newPwd">New Password</label>
          </td>
          <td>
            <div>
              <input type="password" (ngModelChange)="onNewPwdChanged($event)" name="newPwd" (ngModel)="newPwd" size="32" ng-model-onblur id="newPwd">
            </div>
          </td>
        </tr>
        <tr>
          <td class="cellLabel">
            <label for="confirmPwd">Confirm Password</label>
          </td>
          <td>
            <div>
              <input type="password" (ngModelChange)="onConfirmPwdChanged($event)" name="confirmPwd" (ngModel)="confirmPwd" size="32" ng-model-onblur id="confirmPwd">
            </div>
          </td>
        </tr>
      </table>
      <br>
      <table width="100%" class="invisibleTable" summary="layout">
        <tbody>
          <tr>
          <td width="102">
            <button type='button' style="background-color: #A90101" (click)="onCancelClick()" class='btn-canano btn-canano-danger'>Cancel</button>
          </td>
          <td width="300">
            <button type='button' [disabled]="!allValidationPassed" (click)="onChangePasswordClick()" class='btn-canano btn-canano-primary'>Change Password</button>
          </td>
        </tr></tbody>
      </table>
    </form>
  </div>
</div>
<!--<div id="loader" ng-show="loader">-->
<!--  <div id="loaderText">-->
<!--    Loading-->
<!--  </div>-->
<!--  <div id="loaderGraphic"></div>-->
<!--</div>-->