@import "../../../app.component";
@import "../../../btn-canano";
@import "../../cananolab-client.component";
@import "../main-display.component.scss";

.login {
    width:365px;
}

.login td:first-child {
    width: 120px;
}

.login tr:nth-child(2) td:first-child,tr:nth-child(3) td:first-child {
    text-align:right;
}

.resetpwd {
    width:365px;
}

.resetpwd tr:nth-child(2) td:first-child,tr:nth-child(3) td:first-child {
    width: 120px;
    text-align:right;
}

