@import "../../app.component";
@import "../../btn-canano";
@import "../cananolab-client.component";
@import '../cananolab-client.component.scss';
.status-display{
    @extend .d-block;
    font-size:$mainFontSize;
    padding:15px;
    background-color: $canano-background-blue;
    border:solid $leftMenuBorderColor;
    border-width:1px 0px 0px 0px;
    color: #fff;
    width: 99%;
    margin: 0px 0 0 0;
}
