@import '../../main-display/main-display.component.scss';
@import '../../../btn-bravo-canano.scss';
select.multiple {
    width:300px;
    height:100px;
}

.message {
    color:red;
}

.searchButton {
    margin-left:30px;
}

.dataMain {
    width:100% !important;
}
