@import "../../../../app.component";
@import "../../../../btn-canano";
@import "../../../cananolab-client.component";

.right-side-bar-heading{
    width: 100%;
    //  width: calc(100% - 30px);
    padding: 3px 0 3px 6px;
    background-color: #005518;
    color: #fff;
}

.right-side-bar-content{
    width: 100%;
    border: solid #88bce2 1px;
}

.right-side-bar{
    //  width: 100%;
}
