
.home-page-image{
    margin: 1px 1px 0 0;
}

.home-div{
    width: 100%;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    /*
class="d-block p-2 bg-primary text-white"
 */
}

.welcomeTitle{
    padding: 8px;
    background-color: #ccc;
    border-top: 1px solid #ccc;

  //  font-weight: 700;

    /* for titles of sections inside the content area */
    font-family: arial, helvetica, verdana, sans-serif;

    /* constant: medium gray */
}

.welcomeContent{
    padding: 4px;
    font-size: small;
    color: black;
}

// This is a fixed width. It is the total width of the three images.
.welcome{
   // max-width: 596px; // @FIXME - This should be a variable resulting from adding all the picture widths
    max-width: 599px; // @FIXME - This should be a variable resulting from adding all the picture widths and subtracting 3
    background-color: #fff;
}
