
.home-page-image{
    margin: 1px 1px 0 0;
}

.home-div{
    width: 100%;
    background-color: #fff;
    //  border: solid #ff5600 5px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.welcomeTitle{
    padding: 8px;
    background-color: #ccc;
    border-top: 1px solid #ccc /* constant: medium gray */;
    font-weight: 700;

    /* for titles of sections inside the content area */
    font-family: arial, helvetica, verdana, sans-serif;

    /* constant: medium gray */
}

.welcomeContent{
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-align: justify;

    /* for the area below the title content of the home page */
    font-family: arial, helvetica, verdana, sans-serif;
    line-height: 1.5em;
    font-size: small;
}

.disclaimerTitle{
    padding-left: 1em;
    background-color: #ccc;
    color: #000;
    border-top: 1px solid #ccc /* constant: medium gray */;
    font-weight: 700;

    /* for titles of sections inside the content area */
    font-family: arial, helvetica, verdana, sans-serif;

    /* constant: medium gray */
}

.welcome{
    max-width: 596px;
}
