<div class="right-side-bar-heading">
    WHAT'S NEW
</div>

<div class="right-side-bar-content">
        Release 3.1 of caNanoLab is not available for download yet, but you can download the prior version of caNanoLab (3.0)<br />
        from the
    <a target="_blank" rel="nofollow noreferrer" href="https://wiki.nci.nih.gov/x/F4V-AQ">wiki home page</a>
    <br />
    <strong>
        For information on caNanoLab releases, refer to the
    </strong>
    <a target="_blank" rel="nofollow noreferrer" href="https://wiki.nci.nih.gov/x/mYEFCw">caNanoLab Release Notes</a>.
</div>
