<!----------------------------------------------------------------------------------------->
<!----------------------               "Main Display"              ------------------------>
<!----------- The large central display area below and to the right of menus, etc... ------>
<!----------------------------------------------------------------------------------------->

<!-- main-display-heading - The thin status bar across the top of the Main Display area,
     it has the name of the currently selected option in the Main Top Menu. -->
<canano-main-display-heading>
</canano-main-display-heading>


<!-- -----  One component for each Main Top Menu option.                           ----- -->
<!-- -----  Only the component for the currently selected menu option is visible.  ----- -->
<div *ngIf="currentMenuChoice === topMenuItems.HOME">
    <canano-home></canano-home>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.WORKFLOW">
    <canano-workflow></canano-workflow>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.PROTOCOLS">
    <canano-protocols></canano-protocols>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.SAMPLES">
    <canano-samples></canano-samples>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.PUBLICATIONS">
    <canano-publications></canano-publications>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.GROUPS">
    <canano-groups></canano-groups>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.CURATION">
    <canano-curation></canano-curation>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.MY_WORKSPACE">
    <canano-my-workspace></canano-my-workspace>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.MY_FAVORITES">
    <canano-my-favorites></canano-my-favorites>
</div>

<div *ngIf="currentMenuChoice === topMenuItems.LOGOUT">
    <canano-logout></canano-logout>
</div>
