@import '../../../../main-display.component.scss';
@import '../../../../../../btn-bravo-canano.scss';


.dataMain td{

}

.inputs td {
    padding:5px 20px 10px 2px !important;
    vertical-align:top;
}
.records td {
    width:200px;
    padding:15px 0px 15px 15px !important;
    vertical-align:top;
}
