<!----------------------------------------------------------------------------------------->
<!----------------------              "Top Main Menu"              ------------------------>
<!----------------------     The Top menu just below the header    ------------------------>
<!----------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg nav-menu-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <button class="nav-link nav-menu-top-item dropdown-toggle" id="dropdownMenuButton"
                        data-target="static-dropdown" aria-haspopup="true" aria-expanded="false">RELATED LINKS</button>
            </li>
            <ng-container *ngFor="let item of topMenuItemNames; let i = index">
                <li class="nav-item">
                    <!--  Here check for visible & enabled  -->
                    <button [hidden]="currentRoute=='/home'&&item['name']=='HOME'"
                            [ngClass]="{
                                        'btn-canano-disabled':! enableMenuArray[i],
                                        'hide': ! visibleMenuArray[i]
                                        }"
                            class="nav-link nav-menu-top-item"
                            (click)="onMenuSelect(item)">
                        {{item['displayName']}}
                    </button>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>
