<!----------------------------------------------------------------------------------------->
<!----------------------              "Top Main Menu"              ------------------------>
<!----------------------     The Top menu just below the header    ------------------------>
<!----------------------------------------------------------------------------------------->

<nav class="navbar navbar-expand-lg nav-menu-top">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li *ngFor="let item of topMenuItemNames; let i = index"
                class="nav-item"
            >
                <!--  Here check for visible & enabled  -->
                <button
                    [ngClass]="{
                        'btn-canano-disabled':! enableMenuArray[i],
                         'temp': !enableMenuArray[i]
                        }"
                    class="nav-link  nav-menu-top-item"
                    (click)="onMenuSelect(item)"
                >{{item}}</button>
            </li>
        </ul>
    </div>
</nav>
