@import "../../app.component";
@import "../../btn-canano";
@import "../cananolab-client.component";

.temp{
    color: #005f5f;
    background-color: #f0f;
}
.nav-menu-top-first-button{
    @extend .rounded-0;
    width: $leftMenuWidth;
    margin-right: 1px;
    margin-top: 1px;
}

.nav-menu-top-button{
    @extend .rounded-0;

    /*
    margin-right: 1px;
    margin-top: 1px;
    */
}

.nav-menu-top{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #01045a;
}

.nav-menu-top-item{
    @extend .canano-blue;
    color: #fff;
    border-top: solid #668ec0 1px;
    border-left: solid #3e3f65 1px;
    border-bottom: solid #668ec0 1px;
}
