<canano-main-display-heading
    [helpUrl]="'https://wiki.nci.nih.gov/display/caNanoLab/Managing+Publications+in+caNanoLab#ManagingPublicationsincaNanoLab-SearchPublications'"
    [toolHeadingName]="'Publication Search'"
>
</canano-main-display-heading>
<div>
    <form name="publicationSearchForm">
    <div class="mainSection">
        <canano-loader [loading]="loading" [message]="loadingMessage"></canano-loader>

        <div class="error" *ngIf="errors['error']">
            {{errors['error']}}
        </div>
        <div class="mainBorder">
            <table class="searchForm">
                <tr>
                    <td class="label">
                        <label for="category">
                            Publication Type
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <select id="category" name="data.category" [(ngModel)]="data.category">
                            <option [selected]="data['category']==null" [ngValue]="null">--Select--</option>
                            <option *ngFor="let category of setupData.publicationCategories" [selected]="category==data['category']">
                                {{category}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="researchArea">
                            Research Category
                        </label>
                    </td>
                    <td *ngFor="let researchArea of setupData.publicationResearchAreas;let rIndex=indx">
                        <input id="researchArea" (click)="clickResearchArea($event)" type="checkbox" [name]="'researchArea_'+researchArea" [ngValue]="researchArea" [value]="researchArea">
                        <span class="label">
                            {{researchArea}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="pubMedId">
                            PubMed ID
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <input id="pubMedId" type="text" name="pubMedId" size="30" [(ngModel)]="data.pubMedId">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="digitalObjectId">
                            Digital Object ID
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <input id="digitalObjectId" type="text" name="digitalObjectId" size="30" [(ngModel)]="data.digitalObjectId">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="title">
                            Publication Title
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <label for="titleOperand"></label>
                        <select id="titleOperand" name="titleOperand" [(ngModel)]="data.titleOperand">
                            <option [selected]="true">contains</option>
                            <option>equals</option>
                        </select>
                        <input id="title" type="text" name="data.title" size="30" [(ngModel)]="data.title">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="authorsStr">
                            Authors
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <textarea name="authorsStr" id="authorsStr" rows="3" cols="50" [(ngModel)]="data.authorsStr">

                        </textarea><br />
                        <i>enter one author per line</i>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="keywordsStr">
                            Keywords
                        </label>
                    </td>
                    <td [colSpan]="setupData.publicationResearchAreas.length">
                        <textarea name="keywordsStr" id="keywordsStr" rows="3" cols="50" [(ngModel)]="data.keywordsStr">

                        </textarea>
                        <br />
                        <i>enter one keyword per line</i>
                    </td>
                </tr>
            </table>
        </div>
    </div><br />
    <div class="mainSection">
        <div class="mainBorder" *ngIf="setupData">
            <table class="searchForm">
                <tr>
                    <td class="label">
                        <label for="sampleName">
                            Sample Name
                        </label>
                    </td>
                    <td colspan="5">
                        <label for="nameOperand"></label>
                        <select name="nameOperand" id="nameOperand" [(ngModel)]="data.nameOperand">
                            <option [selected]="true">contains</option>
                            <option>equals</option>
                        </select>
                        <input type="text" name="sampleName" id="sampleName" [(ngModel)]="data.sampleName" size="70">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="nanomaterialEntityTypes">
                            Composition Nanomaterial Entity
                        </label>
                    </td>
                    <td>
                        <select class="multiple" name="nanomaterialEntityTypes" [size]="7"  id="nanomaterialEntityTypes" multiple [(ngModel)]="data.nanomaterialEntityTypes">
                            <option *ngFor="let type of setupData.nanomaterialEntityTypes">
                                {{type}}
                            </option>
                          </select>
                    </td>
                    <td class="label">
                        <label for="functionalizingEntityTypes">
                            Composition Functionalizing Entity
                        </label>
                    </td>
                    <td>
                        <select class="multiple" name="functionTypes" [size]="7"  id="functionalizingEntityTypes" multiple [(ngModel)]="data.functionalizingEntityTypes">
                            <option *ngFor="let type of setupData.functionalizingEntityTypes">
                                {{type}}
                            </option>
                          </select>
                    </td>
                    <td class="label">
                        <label for="functionTypes">
                            Function
                        </label>
                    </td>
                    <td>
                        <select class="multiple" name="functionTypes" [size]="7"  id="functionTypes" multiple [(ngModel)]="data.functionTypes">
                            <option *ngFor="let type of setupData.functionTypes">
                                {{type}}
                            </option>
                          </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buttons">
        <div>
            Searching without any parameters returns all publications.
        </div>
        <button [disabled]="loading" (click)="reset()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
        <button [disabled]="loading" (click)="searchPublication()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Search</button>

    </div>
    </form>
</div>
