<div class="left-menu-div">

    <div class="left-menu-top-heading p-2">
        {{topHeading}}
    </div>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >General Info
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Composition
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Characterization
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Publication
    </button>

</div>
