@import "../../../main-display/main-display.component.scss";

    .mainSection td {
        padding-bottom:13px !important;
        font-size:$mainFontSize;

    }
    .mainSection .blueHeader {
            padding:10px;
            background-color:#0073b9;
            color:#fff;
            text-transform: capitalize;
    }

    .mainSection .header {
        background-color:#005518;
        color:#fff;
        padding:10px;
        text-transform: capitalize;
    }

        .mainSection .header .btn {
            margin-left:10px;
        }

    .mainSection .editButton{
        padding-top:5px;
        text-align:right;
    }
    .mainSection table.dataMain.files{
        margin-bottom:10px;
    }
    .mainSection table.dataMain td{
        vertical-align:top;
    }
    .mainSection table.dataMain .properties{
        text-transform: capitalize;
    }
    .mainSection table.dataMain .properties th{
        text-align:left;
        width:150px;
        vertical-align:top;
        padding-right:20px;
    }
    .mainSection table.dataMain td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    .mainSection table.dataMain .properties td{
        text-align:left;
        width:150px;
        vertical-align:top;
        padding-right:20px;
    }

    .mainSection table.dataMain .properties.files{
        border:1px solid #ccc;
        width:100%;
        margin-bottom:5px;
    }

    .experimentConfigurations td {
        padding-right:10px;
        width:300px;
    }
     ul {
       padding-left:13px;
    }


    .dataAndConditions td{
        padding:5px;
        border:1px solid #ccc;
        width:200px;
    }

    .dataAndConditions th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    .properties td{
        padding:5px;
        border:1px solid #ccc;
        width:200px;
    }

    .properties th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    .files {
        min-width:650px;
    }

    .files td{
        padding:5px;
        border:1px solid #ccc;
    }

    .files th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    label {
        font-weight:bold;
    }

    // keep these in here //
    .mainBorder {
        margin-bottom:15px;
    }

    .mainBorder.last {
        margin-bottom:0px;
    }
    .mainSection {
        margin-top:0px !important;
    }

    .nav-item {
        margin-bottom:0px !important;
        padding-bottom:0px !important;
        text-transform: capitalize;
    }

    .nav.nav-tabs {
        font-size:12px;
        margin-left:-6px;
        border-bottom:none !important;
        padding-top:15px !important;
    }
    a.nav-link {
        text-decoration: none !important;
        text-transform: capitalize !important;
    }
    a.nav-link.active {
        border-color: #000 #000 $canano-green !important;
        text-decoration: none !important;
        color:#fff !important;
        background-color:$canano-green !important;
    }
