<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameManage" [export]="[sampleId,'CHARACTERIZATION']" [print]="true"
>
</canano-main-display-heading>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="all-tab" data-toggle="tab" (click)="showSection('all')">All</a>
    </li>
    <li class="nav-item" *ngFor="let type of types">
        <a class="nav-link" id="all-tab" data-toggle="tab" (click)="showSection(type)">{{type}}</a>
    </li>
</ul>
 <ng-container *ngFor="let a of types">
<div class="mainSection" *ngIf="sectionToShow=='all'|| sectionToShow==a">

    <div class="header">
        {{a}} <button *ngIf="editUrl" class="btn btn-primary btn-sm" (click)="addCharacterization(a)">Add</button>
    </div>
    <ng-container *ngFor="let b of characterizationData[a]">

        <ng-container *ngFor="let c of b.charsByAssayType | keyvalue">
            <div class="blueHeader">{{c.key}}</div><br />
                <div *ngFor="let d of c.value | keyvalue;let last=last" class="mainBorder" [ngClass]="{'last':last}">

                    <div class="editButton" *ngIf="editUrl"><button class="btn btn-primary btn-sm" (click)="editCharacterization(d.value.charId,a, d.value.charClassName)">Edit</button></div>
                    <table class="dataMain">

                        <ng-container *ngFor="let e of d.value['displayableItems'] | keyvalue">

                            <tr *ngIf="e.value.value.length">
                                <td class="label">
                                    {{e.value.name}}
                                </td>
                                <td *ngIf="e.value.name=='Experiment Configurations'">
                                    <table class="dataTable" *ngIf="getExperiments(e.value); let experiment">
                                        <tr>
                                            <th *ngFor="let header of experiment[1]">
                                                {{header}}
                                            </th>
                                        </tr>
                                        <tr *ngFor="let row of experiment[0];let odd=odd" [ngClass]="{'rowOdd':odd}">
                                            <td *ngFor="let column of row">{{column}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td *ngIf="e.value.name=='Characterization Results'">
                                    <ng-container *ngFor="let f of e.value.value">
                                        <label for="dataConditions">
                                                 Conditions
                                        </label>
                                        <div *ngIf="f['Data and Conditions']">
                                            <table class="dataTable" id="dataConditions">
                                                <ng-container *ngFor="let entry of f['Data and Conditions']; let even=even">
                                                    <tr *ngIf="entry.name=='colTitles'">
                                                        <th *ngFor="let title of entry.value">
                                                            <span [innerHTML]="title">{{title}}</span>
                                                        </th>
                                                    </tr>
                                                    <tr [ngClass]="{'rowOdd':even}" *ngIf="entry.name=='colValues'">
                                                        <td *ngFor="let title of entry.value">
                                                            {{title}}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </table>
                                        </div>
                                        <div *ngIf="f['Files']"><br />
                                            <table class="files">
                                                <tr>
                                                    <th>
                                                        Files
                                                    </th>
                                                    <th>
                                                        Keywords
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let file of f['Files']">
                                                    <td>
                                                        <!-- Image -->
                                                        <a *ngIf="file['imageTitle'] !== undefined"
                                                           [href]="serverUrl+'/caNanoLab/rest/sample/download?fileId='+file.fileId"
                                                        >
                                                            <img  [src]="serverUrl+'/caNanoLab/rest/sample/download?fileId='+file.fileId" width="150">
                                                        </a>

                                                        <!-- Text file -->
                                                        <a  *ngIf="file['title'] !== undefined"
                                                            [href]="serverUrl+'/caNanoLab/rest/sample/download?fileId='+file.fileId">
                                                            {{file['title']}}
                                                        </a>

                                                        <a  *ngIf="file['title'] == undefined"
                                                        [href]="file['uri']" target="_blank">
                                                        {{file['uri']}}
                                                    </a>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li *ngFor="let keyword of splitKeywords(file['keywordsString'])">
                                                                {{keyword}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>{{file['description']}}</td>
                                                </tr>
                                            </table>
                                        </div><br />
                                    </ng-container>
                                </td>
                                <td *ngIf="e.value.name=='Properties'">
                                    <table class="dataTable">
                                        <tr *ngFor="let entry of e.value.value">
                                            <ng-container *ngIf="entry.name=='colTitles'">
                                                <th *ngFor="let title of entry.value">
                                                    <span [innerHTML]="title">{{title}}</span>
                                                </th>
                                            </ng-container>
                                            <ng-container *ngIf="entry.name=='colValues'">
                                                <td *ngFor="let title of entry.value">
                                                    {{title}}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </table>
                                </td>
                                <td *ngIf="e.value.name!='Characterization Results'&&e.value.name!='Experiment Configurations'&&e.value.name!='Properties'">
                                    {{e.value.value}}
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
        </ng-container>
    </ng-container>
</div>
</ng-container>



